.card{
    
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border: 2px solid #520852;
    background-color: white;
    /* background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) */
    /* no-repeat center; */
    /* opacity: 0.6; */
}
.close-button{
    float: right;
    top:-65px;
    right:-20px;
  }
.full-width{
    width: 500px;
}
.content{
    align-items: center;
}
.title{
    text-align: center;
}