<body>
    
    <div class="container">
    <form (ngSubmit)="book()">
                <mat-card class="card">
                    <mat-card-content class="content">
                        <h1 class="title">Book Tickets</h1>
                        <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                            <mat-icon class="close-icon" color="warn">close</mat-icon>
                          </button>

                        

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Movie Name</mat-label>
                            <input 
                            name="movieName" [(ngModel)]="ticket.movieName"
                            matInput placeholder="Enter Movie Name" readonly="readonly" required/>
                        </mat-form-field><br>


                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Theatre Name</mat-label>
                            <input 
                            name="theatreName" [(ngModel)]="ticket.theatreName"
                            matInput placeholder="Enter TheatreName Name" readonly="readonly" required/>
                        </mat-form-field><br>


                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Seats Available</mat-label>
                            
                            <input 
                            name="seatsAvailble" [(ngModel)]="ticket.seatsAvailable"
                            matInput placeholder="Enter Seats Available" readonly="readonly" required/>
                        </mat-form-field><br>
                        <div>
                    <mat-form-field class="full-width" appearance="outline">
                        
                        <mat-label>No. of Seats</mat-label>
                        <input name="no_of_seats" [(ngModel)]="ticket.no_of_seats" #no_of_seats="ngModel"
                         matInput placeholder="Enter No. of seats" required/>

                    </mat-form-field>
                    <div class="error-message" *ngIf="(no_of_seats.touched) && no_of_seats.errors?.['required']">
                        *Enter No. of seats
                    </div>
                </div>
                    <br>
                    
                   
                   
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="accent">Book</button>
                        <!-- <button type="reset" style="margin-left: 30px;" mat-raised-button color="accent">Clear form</button> -->
                    </div>
               
            </mat-card-content>
            </mat-card>
        </form>
        </div> 
</body>

